In [100]:
#imports

import os
import csv
from pathlib import Path
import pandas as pd
import numpy as np

In [101]:
#filepath
csvpath = os.path.join("/Users", "tylerhubbard", "Downloads", "budget_data.csv")

In [171]:
budgetdf = pd.read_csv(csvpath)
budgetdf.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [103]:
columns = ['Date', 'PnL']
budgetdf.columns = columns

#calculate the total number of months in the dataset
total_months = budgetdf['Date'].count()
print (total_months)

86

In [106]:
#calculate the net total pnl
net_pnl = budgetdf['PnL'].sum()
print (net_pnl)

38382578

In [107]:
#calculate the average of the changes in pnl
avg_pnl = budgetdf['PnL'].mean()
print (avg_pnl)

446309.0465116279

In [124]:
#calculate the greatest increase (date/amt)
pnl_inc = budgetdf[budgetdf.PnL == budgetdf.PnL.min()]
print(pnl_inc)

        Date      PnL
44  Sep-2013 -1196225

In [156]:
#calculate the greatest decrease (date/amt)
pnl_dec = budgetdf[budgetdf.PnL == budgetdf.PnL.max()]
print(pnl_dec)

        Date      PnL
25  Feb-2012  1170593

In [173]:
#I'm overthinking this I think