In [36]:
#imports

import os
import csv
from pathlib import Path
import pandas as pd

In [37]:
#filepath
csvpath = os.path.join("/Users", "tylerhubbard", "Downloads", "budget_data.csv")

In [53]:
budgetdf = pd.read_csv(csvpath)
budgetdf.head(-1)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
80  Sep-2016         768450
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230

[85 rows x 2 columns]

In [61]:
#calculate the total number of months in the dataset
total_months = budgetdf['Date'].count()
print (total_months)

86

In [63]:
#calculate the net total pnl
net_pnl = budgetdf['Profit/Losses'].sum()
print (net_pnl)

38382578

In [64]:
#calculate the average of the changes in pnl
avg_pnl = budgetdf['Profit/Losses'].mean()
print (avg_pnl)

446309.0465116279

In [66]:
#calculate the greatest increase (date/amt)
pnl_increase = budgetdf['Profit/Losses'].max()
print (pnl_increase)

1170593

In [67]:
#calculate the greatest decrease (date/amt)
pnl_decrease = budgetdf['Profit/Losses'].min()
print (pnl_decrease)

-1196225